<!--
Created by Megan Shum
CS304-Final project
2018.04.30
-->
<!doctype html>
<html>
<head>
  <!-- UIkit CSS -->
  <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css"/>

  <!-- UIkit JS -->
 <script src=
"https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js">
 </script>
 <script src=
 "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js">
 </script>
</head>
<body>
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('newsfeed') }}">Newsfeed</a></li>
                <li><a href="{{ url_for('toUserProfile') }}">Profile</a></li>
                <li><a href="{{ url_for('upload') }}">Post/Upload</a></li>
                <li><a href="{{ url_for('explore') }}">Explore</a></li>
                <li><a href="{{ url_for('logout') }}" type="submit" value="logout">Logout</a></li>
                <div class="uk-navbar-item">
                  <li>
                    <form action="{{ url_for('search') }}" method = POST>
                      <input class="uk-input uk-form-width-medium" type="text" placeholder="search username..." name="search">
                      <button type="submit" name="search-btn" class="uk-button uk-button-default">Go</button>
                    </form>
                  </li>
              </div>
            </ul>
        </div>
    </nav>
  </div>
  {% block content %}
  {% endblock%}
</body>
</html>
