<!--
Created by: Megan Shum, Mina Hattori, Maxine Hood
CS304-Final Proejct
2018.05.27
-->
{% extends "base.html" %}
{% block inner_content %}
  <div class = "uk-grid-medium uk-child-width-1-3@m" uk-grid uk-lightbox="animation: slide">
    {% for pic in pics %}
      <div class = "uk-height-medium" style= "overflow: hidden;">
        <a class="uk-inline" href="{{url_for('pic',fname=pic['pic'])}}" data-caption="<a href={{url_for("profile", username = pic['username'])}}>{{pic['username']}}</a> : <br/>
        {{pic['description']}}">
          <img src="{{url_for('pic',fname=pic['pic'])}}" alt="{{pic['pic']}}">
        </a>
      </div>
    {% endfor %}
  </div>
  <a href="" uk-totop></a>
{% endblock %}
