<!-- 
This file displays the home page.
home.html
CS304-Final Project
Created by: Megan Shum, Maxine Hood, Mina Hattori
 -->
{% extends "main.html" %}
{% block header_content %}
	<style>
	h1, h4 {
    text-align: center;
	line-height:0.3;
	}
	.uk-button-group {
	align: center;
	}
	</style>
{% endblock %}
{% block outer_content %}
	<div class="uk-cover-container" uk-height-viewport>
		<img src="images/yay.jpg" alt="" uk-cover>
		<div class="uk-overlay uk-overlay-default uk-position-center ">
			<h1>Foodies</h1>
			<h4>Pic. Post. Eat.</h4>
			<div>
				<div class="uk-button-group">
					<a class="uk-button uk-button-danger" href={{ url_for('loginProcess')}}>Login</a>
					<a class="uk-button uk-button-danger" href={{ url_for('register')}}>Register</a>
				</div>
			</div>
		</div>
	</div>
{% endblock%}
