<!--
main.html
CS304-Final Project
Created by: Megan Shum, Maxine Hood, Mina Hattori
-->
<!doctype html>
<html>
<head>
  <!-- UIkit CSS -->
  <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css"/>

  <!-- UIkit JS -->
 <script src=
"https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js">
 </script>
 <script src=
 "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js">
 </script>
 {% block header_content %}
 {% endblock %}
</head>
<body>
  {% block outer_content %}
  {% endblock%}
</body>
</html>
