<!--
Created by Megan Shum
CS304-Final project
2018.04.30
-->
<!doctype html>
<html>
<head>
  <!-- UIkit CSS -->
  <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css"/>

  <!-- UIkit JS -->
 <script src=
"https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js">
 </script>
 <script src=
 "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js">
 </script>
</head>
<body>
  {% block outer_content %}
  {% endblock%}
</body>
</html>
