<!-- This file displays the register page and takes registration data.
created by: Maxine Hood-->

{% extends "main.html" %}
{% block outer_content %}
    <div class = "uk-margin-left uk-margin-top" id="navigation">
      <ul>
			<li><a href={{ url_for('loginProcess')}}>Login</a></li>
      </ul>
    </div>
    <div class = "uk-margin-left" id="content">

        <div id="flashes">
			<!-- Displays messages flashed by app.py -->
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div id="messages">
				{% for msg in messages %}
					<p>{{msg}}</p>
				{% endfor %}
				</div>
			{% endif %}
			{% endwith %}
		</div>

  <h1>Register to Foodies</h1>

  <form method="post" action="">
		<p><label for="name">Name: <input type="text" name="name"></label></p>
		<p><label for="email">Email: <input type="text" name="email"></label></p>
		<p><label for="username">User Name: <input type="text" name="username"></label></p>
		<p><label for="passwd">Password: <input type="password" name="passwd"></label></p>
		<p><label for="comPasswd">Confirm Password: <input type="password" name="comPasswd"></label></p>
		<p><button type="submit">submit</button></p>
  </form>
    </div>
{% endblock%}
